body 
{
    background-image:url("../warriors.jpeg");
    font:normal 16px/1.5 "Helvetica neue", sans-serif;
}
ul
{
    display:flex;
    align-content:center;
    justify-content:center;
}
ul li
{
    margin:10px;
    list-style:none;
}
ul li a
{
    text-transform:uppercase;
    font-weight:bold;
    color:white;
    font-size:0.875em;
    text-decoration:none;
    padding:1em;
    white-space:nowrap;
    letter-spacing: 1px;
}
ul li a:hover
{
    border-bottom: 3px solid white;
}
.title
{
    margin:40px 20px;
    text-align:center;
    color:bisque;
    font-weight:800;
    font-size:16px;
}
.main
{
    margin:100px;
    display:flex;
    align-items:center;
    justify-content:center;
}
#year
{
    position:relative;
    left:-40px;
    top:-10px;
    border-radius:6px;
    width:220px;
    padding:0 22px;
    font-size:16px;
    color:#555;
    line-height:40px;
    outline:none;
    overflow:hidden;
}
#submit
{
    background-color:#3BAF;
    display:block;
    margin:40px 0 0 15px;
    text-align:center;
    border-radius:12px;
    border:2px solid #366473;
    padding:14px 20px;
    outline:none;
    color:white;
    cursor:pointer;
    transition:0.25px;
}
#submit:hover
{
    background-color:#5390F5;
}